/Jarvis_Memory
/__pycache__
/Api_keys/api_key_openai.txt
*.pyc
__pycache__/gpt_functions.cpython-311.pyc
__pycache__/conversation_history.cpython-311.pyc
Szoszo/2023-05-28_conversation.log
Fakecrash/2023-05-28_conversation.log
__pycache__/gpt_functions.cpython-311.pyc
__pycache__/conversation_history.cpython-311.pyc
/Jarvis_Memory/conversation_history/2023-05-27_conversation.log
/Jarvis_Memory/conversation_history/2023-05-22_conversation.log
/Fakecrash
/Szoszo